public-hoist-pattern=*
auto-install-peers=true
strict-peer-dependencies=false

# 添加electron镜像映射，规避每次升级都巨慢的问题；
registry=https://registry.npmmirror.com/
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
# @electron/get 包修改了算法后，pnpm 使用淘宝镜像时容易找不到源，需要手动置顶版本目录；
# 注意：每次electron升级都需要更新这里对应的版本；
electron_custom_dir=22.3.27

# sentry 的 cdn 也需要映射，否则每次升级都巨慢；
SENTRYCLI_CDNURL="https://cdn.npmmirror.com/binaries/sentry-cli"

@fepkg:registry=https://git.zoople.cn/api/v4/packages/npm/
